/* *{
  box-sizing: border-box;
}

body {
  margin: 0;
  
}
.header{
  display: flex;
}
.header h1{
  margin-left: 25%;
}
.search_bar{
  border: dotted red;
  margin-left: 45%;
  margin-top: 20px;
  border-radius: 15px;
  height: 35px;
  width: 300px;
}
.home{
  border: dotted red;
  width: 75%;
  margin-left: 13%;
  margin-right: 13%;
  height: 500px;
}
.navbar{
  background-color: #9aa399;
  color: white;
  display: flex;
  height: 100%;
  width: 20%;
}
.navbar li{
  border: solid red;
  list-style-type: none;
  margin-top: 25%;
}
.navbar a{
  color: white;

} */



