*{
  box-sizing: border-box;
  
}
body{
  margin: 0px;
  background-image: url(58469.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}
.navbar{
  display: flex;
  justify-content: flex-start;
  top: 0%;
  height: 8%;
  width: 100%;
  border: solid black 5px;
  list-style-type: none;
  
}
.navbar li{
  text-align: center;
  padding: 14px 14px;
  font-weight: bold;
  font-size: 20px;
}
.nav-link{
  color: white;
  text-decoration: none;
}
#search{
  height: 25px;
  width: 300px;
  margin-left: 500px;
  border-radius: 10px;
}
.season{
  height: 25px;
  text-align: center;
  margin-left: 45%;
  border-radius: 10px;
}
  

.table{
  font-weight: bold;
  font-size: 20px;
  color: white;
  border: solid black 5px;
  width: 80%;
  height: 500px;
  margin: 5% 10%;
  text-align: left;
}
.home{
  margin: 10% 10%;
  height: 600px;
  display: flex;
}
.leaderboardlink{
  border: black solid 5px;;
  width: 40%;
  margin: 5% 5%;
  background-image: url(gettyimages-483135361-1024x1024.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.tournamentslink{
  border: black solid 5px;
  width: 40%;
  margin: 0% 5%;
  background-image: url(trophy-png-30582.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.search_results li{
  color: white;
  font-size: 20px;
  list-style-type: none;
}





